<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.cerebrai.mahjongprime"
        version = "2.5.0"
        versionCode="53">
    <name>Mahjong-Prime</name>

    <preference name="permissions" value="none"/>

    <description>Mahjong Prime - A beautiful HTML5 Mahjong Solitaire game</description> 
    <author href="https://cerebrai-vortx.dev">Yasin Tanış &amp; CerebrAI-VorTX</author>
    <access origin="*" />
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />

    <preference name="android-minSdkVersion" value="21" />
    <preference name="splash-screen-duration" value="0" />
    <preference name="fullscreen" value="true" />

</widget>
